---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import flyer from '../assets/s-Intersection_2062_2nd_v3.jpg';
import ticketbutton from '../assets/s-ticketbutton.png';
import timetable from '../assets/1timetable.jpg';
import flavortext from '../assets/2flavortext.jpg';
import freepaper from '../assets/s-freepaper.jpg';
import comingsoon from '../assets/s-comingsoon.jpg';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="icon" href="/orifavicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<Header />
		<main>
			<Image class="fade" src={flyer} alt="フライヤー"/>
			<span style="font-size: smaller;">
				<p>
					「Intersection_2062 2nd」は電音部<b>"非公式"</b>のファンイベントです。
					最新情報は<a href="https://x.com/Intersection62">Xアカウント</a>で発信しています。
				</p>
				<p>
					また、<a href="https://intersection2062.com/blog/">Articlesページ</a>でもイベントの雰囲気が伝わる記事を多数掲載しておりますので、ぜひご覧ください。
				</p>
				<br>
				<h4 style="text-align: center;">
					✦ index ✦<br>
					<a href="#about">About</a>／
					<a href="#cast">Cast</a>／
					<a href="#flavortext">Flavor Text</a>／
					<a href="freepaper">無配企画</a>
				</h4>

			</span>
			<h2 id="about">About</h2>
			<p>日時：2025/11/29(土) 15:00～21:00</p>
			<p class="indent">場所：<a href="https://batica.jp/">EBISU BATICA</a> 1F-2F<br>
			<span style="font-size: smaller;">
			東京都渋谷区恵比寿南3-1-25<br>
			ICE CUBE 1F/2F<br>
			恵比寿駅西口ゑびす像より徒歩3分</p>
			</span>
			<p class="indent">料金：ADV　:￥3000(+1d)<br>
				DOOR:￥3500(+1d)</p>
			<a href="https://t.livepocket.jp/e/intersection_2062-2nd">
				<Image src={ticketbutton} alt="チケットはこちらから"/>
			</a>
			<br><br>
			<h2 id="cast">Cast</h2>
			<h3>Guest DJ</h3>
			<strong>higma</strong> (<a href="https://x.com/pai_dareka">@pai_dareka</a>)
			<br>
			<strong>NUU$HI</strong> (<a href="https://x.com/IamNuushi">@IamNuushi</a>)<br>
			<strong>多々良ゆら（駒場伶音 DJ set）</strong>(<a href="https://x.com/MSP_yura">@MSP_yura</a>)</strong>
			<details class="accordion">
				<summary class="accordion_title">多々良さんのファンのみなさまへ</summary>
				<div class="accordion_contents">
					<p>
						当イベントは<strong>電音部非公式</strong>ですが、外部出演のひとつとして
						多々良ゆらさんにご参加いただくことになりました！
					</p>
					<p>
						歌やダンスはなく、<strong>DJのみの出演</strong>となります
						（マイクはあるので、本人次第では見られるかも）。
					</p>
					<p>
						また、今回は多々良さんが演じるキャラクター<strong>「駒場伶音」さんとしての
						セット</strong>をお願いしています。
						そのためこの名義（「多々良ゆら （駒場伶音 DJ set）」）になります。
					</p>
					<p>
						イレギュラーな出演となりますが、
						多々良さんの好きな音楽を共有する機会ですので、
						ぜひお気軽にいらしてください！
					</p>
				</div>
			</details>
			<h3>DJ</h3>
			<p>FAIO (<a href="https://x.com/FAIO1230">@FAIO1230</a>)<br>
			POGO (<a href="https://x.com/pogo_voc">@pogo_voc</a>)<br>
			まかねこ (<a href="https://x.com/macat_255">@macat_255</a>)<br>
			しょうぽん (<a href="https://x.com/shopon1201">@shopon1201</a>)<br>
			めり (<a href="https://x.com/d1ggtter">@d1ggtter</a>)<br>
			ういろう (<a href="https://x.com/willow_2b">@willow_2b</a>)</p>
			<br>
			<h3>VJ</h3>
			<p>72K (<a href="https://x.com/72K_Nanika">@72K_Nanika</a>)<br>
			maya_Alukas (<a href="https://x.com/maya_Alukas">@maya_Alukas</a>)<br>
			VJ Nemo</p>
			<br>
			<h3>Live Paint</h3>
			<p>たっつん (<a href="https://x.com/Tattun319 ">@Tattun319</a>)</p>

			<span style="font-size: smaller;">
				<ol class="index">
					<p>出演者紹介は<a href="https://intersection2062.com/blog/src/content/blog/cast-introduction2">こちら</a>から</p>
				</ol>
			</span>
			<!-- <Image src={timetable} alt="タイムテーブル"/>
			<a href="https://intersection2062.com/blog/cast-introduction1/">
			<p>出演者紹介はこちらから</p>
			</a> -->
			<br>
			<h2 id="flavortext">Flavor Text</h2>
			<Image src={flavortext} alt="フレーバーテキスト"/>
			<p>
				Writer:<a href="https://x.com/d1ggtter">mery</a>
			</p>
			<br>
			<h2 id="freepaper">企画①無配企画</h2>
			<Image src={freepaper} alt="無配企画"/>
			<p>Intersection_2062 2ndの開催を記念して、無料配布企画が実現！</p>
			<p>イベント開催当日、会場のEBISU BATICAさま1階にて、ご自由に配布物を置けるスペースを設置いたします！</p>
			<p>作品のペーパーや余った自作ステッカー、その他諸々……電音部に関するものならなんでもOK！&nbsp;事前の登録は必要ナシ！</p>
			<p>皆様の愛にあふれた、素敵な作品をお待ちしております。</p>
			<span style="font-size: smaller;">
				<p>
					※当イベントは、DJはEBISU BATICAさまの2階フロアのみ、1階は交流スペースになります。
				</p>
			</span>
			<h3>注意事項</h3>
			<ul>
				<li>頒布物は無料配布のものに限ります。</li>
				<li>ファンメイドコンテンツポリシー*1を記載してください。</li>
				<li>頒布物の発行元（誰が頒布したか）を明記してください。</li>
				<li>R18、政治関連の誘導などを含む頒布物はご遠慮ください。</li>
				<li>頒布を行う際は事前に頒布物の説明を、主催のどちらかにDM、もしくは口頭にて行ってください。</li>
			</ul>
			<span style="font-size: smaller;">
				<p>
					*1「このコンテンツはファンメイドコンテンツです。
					ファンメイドコンテンツポリシー(https://denonbu.jp/guidelines)のもと制作されています。」の文言
				</p>
				<p>
					※ファンメイドコンテンツポリシー・発行元が明記されていない頒布物の場合、その2点を記載した札などをご用意くださればOKです。
				</p>
			</span>
			<!-- 
			<br>
			<h2>絵チャ企画</h2>
			<p>当日はMagicalDrawにてお絵かきチャットの同時開催を行います！</p>
			<p>様子は下北沢CREAMのモニターで中継されるかも？</p>
			<p>どなたでも奮ってご参加ください！</p>
			<p>※ルームのURLは、当日<a href="https://x.com/Intersection62">Xアカウント</a>からご案内いたします。</p>
			<br>
			<h2>配信のお知らせ</h2>
			<p>Twitchでの配信が決定！</p>
			<p>当日足を運べない皆様も、イベントの空気感を少しでも味わっていただけますと幸いです！</p>
			<p>※配信のURLは当日<a href="https://x.com/Intersection62">Xアカウント</a>からご案内いたします。</p>
			<p>※雅賀烈賀さん(矢吹真央さん)、Hylenさんの出演中は配信を一時停止させていただきます。</p>
			<br>-->
			<span style="font-size: smaller;">
				<ol class="index">
					<p>
						ほかにもさまざまな企画を準備中です。
						最新情報は<a href="https://x.com/Intersection62">Xアカウント</a>で発信しています。
					</p>
				</ol>
			</span>
			<a href="https://t.livepocket.jp/e/intersection_2062-2nd">
				<Image src={ticketbutton} alt="チケットはこちらから"/>
			</a>
		</main>
		<Footer />
	</body>
</html>
